<div class="jumbotron">
	<h1>Welcome to AngelLista</h1>
	<p>Where you can find and pin the best startups every day</p>	
	<p>Click here to <%= link_to "sign up", "#", class:"btn btn-primary" %></p>
</div>